body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 50px 10%;
}

.container header h1 {
  color: #E91E63;
  padding: 5px 8px;
  border-radius: 5px;
}


.main {
  width: 60%;
  border: 1px solid #B6B6B6;
  margin-left: 50px;
  padding: 10px;
}

/* Tasks */
.task {
  height: 40px;
  padding-top: 5px;
  font-size: 1.1em;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  border-bottom: 1px solid #B6B6B6;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.task .completed {
  text-decoration: line-through;
}

.task label {
  flex-grow: 1;
  cursor: pointer;
  padding-bottom: 2px;
}

.task-container {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.task:hover {
  background-color: #f7f7f7;
}

.task-container > .task > .handle {
  transition: all 0.5s ease-in-out;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  width: 17px;
  margin-right: 10px;
  padding-left: 5px;
}

.task-container > .task > .handle.hidden {
  visibility: hidden;
}

.task-container.contracted > .task > .handle {
  display:block;
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  transform:rotate(0deg);
}


.task-container > .children {
  max-height: 1500px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  margin-left: 30px;
}

.task-container.contracted > .children {
  max-height: 0;
}


/* TaskEntry */
.task-entry {
  margin-top: 5px;
  width: 100%;

}

.task-entry .add {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: row;
  margin-top 15px;
  justify-content: flex-start;
  padding-left: 30px;
}

.task-entry .form {
  flex-grow: 1;
  opacity: 0;
}

.task-entry .action {
  cursor: pointer;
  color: #555;
  padding: 10px 2px;
  margin-top: 5px;
}

.task-entry.open.child .form {
  margin-left: 30px;
}

.task-entry.open .form {
  opacity: 1;
}

.task-entry.open .action {
  display: none;
}
